[Unit]
Description=The Spider of v2ray RSS with gin
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/home/works/go/v2rss/v2rss.pid
ExecStart=/home/works/go/v2rss/start.sh
ExecStop=/bin/kill -s HUP $MAINPID
ExecReload=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target